h1 {
	color: rgb(250, 50, 100);
	background-color: black;
	text-align: center;
	border: 10px dashed red;
	border-radius: 20px;
	padding: 10px ;
	margin-right: 400px;
	margin-left: 400px;
}

h3 {
	color: green;
	background-color: pink;
	text-align: center;
	border: 5px solid blue;
	padding: 10px;
	margin-right: 650px;
	margin-left: 650px;




}

ul{
	color: white;
	background-color: greenyellow;
	border: 2px dashed green;
	padding: 5px;
	margin-right: 1000px;
	margin-left: 50px;
	text-align: left;
	font-size: small;
}

 img:hover 
{
	transform: scale(1.1);
    transition-duration: all 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
   
}

li {
	font-size: 1rem;
	text-align: center;
}

.btn:hover { 
	background-color: rgba(0,0,0,.0);
    opacity: 1;
    transform: scale(1.2);
    transition-duration: all 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
}
.btn-danger{
    color: #FF3B30;
    border-color: #FF3B30;
   } 

.btn{
    border-width: 2px;
    background-color: rgba(0,0,0,.0);
    font-weight: 400;
    opacity: 0.8;
    padding: 8px 8px;}